HTTP_ADDR=:8080
BASE_URL=http://localhost:8080
STORAGE_TYPE=memory
POSTGRES_DB=url_shortener
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable
